
  *{
    margin:0px;
    padding:0px;
    font-family: monospace;
  }
    .headerbar{
      position:relative;
      top:0px;
      left:0px;
      height:50px;
      /*border:1px solid red;*/
      background-color: #669999;
      color:white;

    }
    .main-icon{
      position:absolute;
      display: inline-block;
      line-height: 50px;
      margin-left:80px;


    }
    .main-icon a{
      text-decoration: none;
      color:#fff;
      font-weight: bold;
    }
    .headerbar .search-box{
      margin-left:150px;
      position:absolute;
      left:80px;
      line-height: 50px;

      width:30%;
    }
    .search-box .search-icon ,#search-text{
      display: inline-block;
      margin-right:5px;

      height:25px;

    }
    #search-text
    {
      outline-color:#fff;
      outline-width:1px;
      padding-left: 10px;
      width:70%;
    }
    .search-icon{
      height:25px;
      border:none;
      border:1px solid #fff;
      background-color: #669999;
      padding:0 5px;
      color:#fff;
      border-radius: 5px;
      outline-color:#fff;
    }
    .search-icon:hover{
      background-color: #fff;
      color:#669999;
    }

    .header-link{
      position:absolute;
      right:20px;
      line-height: 50px;


    }
    .header-link .link-item{
      display: inline-block;
      margin-left:20px;
      text-decoration: none;
      color:#fff;
    }


    .footerbar{
      height:50px;
      
      bottom:0px;
      position:fixed;
      left:0px;
      width:100%;
      font-size: small;
      background-color: #669999;
      text-align: center;
      line-height: 50px;
      color:#fff;
    }
    
     .footerbar a{
      text-decoration: none;
      color:#933;
      
    }
    .footerbar a:hover{
      color:#fff;
    }

    
    
          .content_header{

  border-bottom: 3px solid #669999;
  width:50%;
  text-align: center;
  color:#669999;
  padding-right:10px;
  padding-top:10px;
  padding-bottom: 20px;
  margin:0 auto 15px;
}
  