  *{
    margin:0px;
    padding:0px;
    font-family: monospace;
  }
    .headerbar{
      position:relative;
      top:0px;
      left:0px;
      height:50px;
      /*border:1px solid red;*/
      background-color: #555;
      color:white;

    }
    .main-icon{
      position:absolute;
      display: inline-block;
      line-height: 50px;
      margin-left:80px;


    }
    .main-icon a{
      text-decoration: none;
      color:#fff;
      font-weight: bold;
    }
    .headerbar .search-box{
      margin-left:150px;
      position:absolute;
      left:80px;
      line-height: 50px;

      width:30%;
    }
    .search-box .search-icon ,#search-text{
      display: inline-block;
      margin-right:5px;
      height:25px;

    }
    #search-text
    {
      width:70%;
    }

    .header-link{
      position:absolute;
      right:20px;
      line-height: 50px;


    }
    .header-link .link-item{
      display: inline-block;
      margin-left:20px;
      text-decoration: none;
      color:#fff;
    }

    .left-side{
      float:left;

      height:400px;
      width:200px;
      margin-left:20px;

    }

    .right-side{
      float:right;

      height:400px;
      width:130px;
      margin-right:20px;

    }


    .content{
      margin-right:160px;
      margin-left:230px;
      margin-top:10px;

      border:1px solid #333;

    }
    .footerbar{
      height:50px;
      border:1px solid black;
      bottom:0px;
      position:fixed;
      left:0px;
      width:100%;
      font-size: small;
      background-color: #555;
      text-align: center;
      line-height: 50px;
      color:#fff;
    }
    .pad{
      border:1px solid #ddd;
      margin-bottom: 30px;
      box-shadow: 1px 1px 1px 1px #eee;
    }
    .side-item{
      width:100%;
      position:relative;

      line-height: 35px;
    }

    .side-item #item-name{
      display:inline-block;
      margin-left: 20px;
      color:#555;
      text-decoration: none;

    }
     .side-item:hover{
      background-color: #eee;
    }
    .side-item span{
      box-sizing: border-box;
      position:absolute;
      margin-top:5px;
      background-color: #aaa;
      width:20px;
      height:20px;
      right:10px;
      color: white;
      line-height: 30px;
      border-radius:50%;
      text-align: center;
      line-height:20px;

    }

    .side-header{
      background-color: #999;
      height:40px;
      line-height: 40px;
      text-align:center;
      color:#fff;
    }
    .side-seperator{
      border-top:1px solid #eee;
      width:100%;
      margin:0 auto;
    }